{% extends 'layout.html' %}
{%  block content %}
    {% block sidebar %}
        <form action="{{ url_for('bins') }}" method="post">
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}

            {{ form.shelf_name.label }}
            {{ form.shelf_name }}

            {{ form.submit }}
        </form>
        {% if item_added == True %}
            <div class="success flash">Bin added</div>
        {%  else %}
            {% for err in form.name.errors %}
                <div class="fail flash">{{ err }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block main_content %}
        <table cellspacing="0" id="grid_view">
            <tbody>
                <tr>
                    <th>Bin Name</th>
                    <th>Shelf</th>
                </tr>
                {% for bin in bin_list %}
                    <tr>
                        <td>{{ bin.name }}</td>
                        <td>{{ bin.get_shelf_name().name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{%  endblock %}