<!-- TODO: Add styling to stock div's -->
<!-- TODO: Add modal dialog functionality to stock div's -->
<!-- TODO: Add subtract all function to stock dialog -->
{% extends 'layout.html' %}
{% block sidebar %}
        {% if success == True %}
            <div class=" flash success">
               <div class="flash success">Hooray</div>
            </div>
        {% else %}
            {% for err in stock_form.item.errors %}
                <div class="flash fail">{{ err }}</div>
            {% endfor %}
            {% for err in stock_form.bin.errors %}
                <div class="flash fail">{{ err }}</div>
            {% endfor %}
            {% for err in stock_form.qty.errors %}
                <div class="flash fail">{{ err }}</div>
            {% endfor %}
            {% if stock_form.errors %}
                <div class="flash fail">{{ stock_form.errors }}</div>
            {% endif %}
        {% endif %}
        <h3>Items</h3>
        <ul class="nav nav-sidebar">
            <li>Number of Items in DB: {{ item_list|length }}</li>
            <li>Items in stock: {{ bin_item_list[0].get_item_total() }}</li>
            <li><button class="btn btn-primary" data-toggle="modal" data-target="#stock-form-modal">Stock Adjust</li>
        </ul>
        <h3>Bins</h3>
        <ul class="nav nav-sidebar">
            <li>Number of Bins: {{ bin_list|length }}</li>
        </ul>
        <h3>Shelves</h3>
        <ul class="nav nav-sidebar">
            <li>Number of Shelves: {{ shelf_list|length }}</li>
        </ul>
{% endblock %}<!-- end sidebar -->

{% block main_content %}
    {% for stock in bin_item_list %}
        <div class="stock col-md-4">
            <ul>
                <li>Item: {{ stock.get_item().title }}</li>
                <li>SKU: {{ stock.get_item().sku }}</li>
                <li>Bin: {{ stock.get_bin().name }}</li>
                <li>QTY: {{ stock.qty }}</li>
                <button class="btn btn-primary btn-sm">Adjust</button>
                <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span>Remove All</button>
            </ul>
        </div>
    {% endfor %}
{%  endblock %} <!-- end main_content -->
{% block modals %}
<div class="modal fade" id="stock-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('home') }}" method='post'>
                    {{ stock_form.hidden_tag() }}
                    <div class="form-group">
                        {{ stock_form.in_out }}
                    </div>
                    <div class="form-group">
                        {{ stock_form.item.label }}
                        {{ stock_form.item }}
                    </div>
                    <div class="form-group">
                        {{ stock_form.bin.label }}
                        {{ stock_form.bin }}
                    </div>
                    <div class="form-group">
                        {{ stock_form.qty.label }}
                        {{ stock_form.qty }}
                    </div>
                
              </div>
              <div class="modal-footer">
                {{ stock_form.submit(class_='btn btn-primary') }}
              </div>
              </form>
            </div>
          </div>
        </div>
{% endblock %}
