<!-- TODO: Fix flash message logic -->
{% extends 'layout.html' %}
{%  block content %}

{% block sidebar %}
<div id="accordion">
    <h3>Add Item</h3>
    <div>
        <form action="{{ url_for('items') }}" method="post">
            {{ i_form.hidden_tag() }}
            {{ i_form.sku.label }}
            {{ i_form.sku }}
            {{ i_form.title.label }}
            {{ i_form.title }}
            {{ i_form.submit }}
        </form>
        {% if item_added == True %}
            <div class="success flash">Item added</div>
        {%  else %}
            {% for err in i_form.sku.errors %}
                <div class="fail flash">{{ err }}</div>
            {% endfor %}
            {% for err in i_form.title.errors %}
                <div class="fail flash">{{ err }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <h3>Search for Item</h3>
    <div>
        <form action="{{ url_for('items') }}" method="post">
            
            {{ s_form.search_term.label }}
            {{ s_form.search_on }}{{ s_form.search_term }}
            {{ s_form.submit }}
        </form>
    </div>
</div>
{% endblock %}

{% block main_content %}
    <table cellspacing="0" id="grid_view" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>SKU</th>
                <th>Title</th>
                <th></th>
            </tr>
            {% for each_item in item_list %}
                <tr>
                    <td>{{ each_item.sku }}</td>
                    <td>{{ each_item.title }}</td>
                    <td>
                        <a class="btn btn-danger btn-xs" href="delete/{{ each_item.item_id }}" onClick="confirm('Are you sure?')"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        <a class="btn btn-primary btn-xs" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{%  endblock %}