{% extends 'layout.html' %}
{%  block content %}
    <div class="col_left">
        <form action="{{ url_for('shelves') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            {{ form.submit }}
        </form>
        {% if item_added == True %}
            <div class="success flash">Shelf added</div>
        {%  else %}
            {% for err in form.name.errors %}
                <div class="fail flash">{{ err }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col_right">
        <table cellspacing="0" id="grid_view">
            <tbody>
                <tr>
                    <th>Shelf Name</th>
                    <th>Bins on Shelf</th>
                </tr>
                {% for key in test_shelf_dict %}
                    <tr>
                        <td>{{ test_shelf_dict[key] }}</td>
                        <td>List of bins will be here with CRUD links</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}