<!-- TODO: Fix flash message logic -->
{% extends 'layout.html' %}
{%  block content %}
    {% block sidebar %}
        <form action="{{ url_for('shelves') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            {{ form.submit }}
        </form>
        {% if item_added == True %}
            <div class="success flash">Shelf added</div>
        {%  else %}
            {% for err in form.name.errors %}
                <div class="fail flash">{{ err }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block main_content %}
        <table cellspacing="0" id="grid_view">
            <tbody>
                <tr>
                    <th>Shelf Name</th>
                    <th>Bins on Shelf</th>
                    <th></th>
                </tr>
                {% for shelf in shelf_list %}
                    <tr>
                        <td>{{ shelf.name }}</td>
                        <td>Will expand Shelf model in future</td>
                        <td><a href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{%  endblock %}